
Simulations/valueReporting/210619-200034.txt

Simulations/valueReporting/210620-125824.txt

Simulations/valueReporting/210625-000530.txt

Simulations/valueReporting/210625-000954.txt

Simulations/valueReporting/210625-003427.txt

Simulations/valueReporting/210625-003456.txt

Simulations/valueReporting/210625-010207.txt

Simulations/valueReporting/210625-010408.txt

Simulations/valueReporting/210625-010733.txt

Simulations/valueReporting/210625-010933.txt

Simulations/valueReporting/grid.txt

Simulations/valueReporting/210630-213321.txt

Simulations/valueReporting/210630-213349.txt

Simulations/valueReporting/210630-214734.txt

Simulations/valueReporting/210630-214942.txt

Simulations/valueReporting/210630-220733.txt

Simulations/valueReporting/210630-230528.txt

Simulations/valueReporting/210701-011848.txt

Simulations/valueReporting/energy.ps

Simulations/valueReporting/general_h100_1.txt


Simulations/Simulation_results/day.txt

Simulations/Simulation_results/summerday50nodes.txt

Simulations/valueReporting/Castalia-Trace.txt

Simulations/valueReporting/.~lock.topology.ods#
